@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-nav1 {
  justify-content: space-between;
  display: flex;
}

:root {
  --primary-text-color: white;
  --secondry-text-color: black;
  --heading-text-color: #f4cb08;
}


body {
  font-family: 'Roboto', sans-serif;

}

a {
  text-decoration: none;
  color: #f1f1f1;
}

.line {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--heading-text-color);
  width: 70px;
  height: 3px;
}


/* .container {
    width: 1170px;
    margin: auto;
} */
nav {
  background-color: var(--heading-text-color);

}

.nav-item {
  color: #f1f1f1;
}

.navbar-nav {
  margin-left: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.button1 {
  color: var(--primary-text-color);
  background-color: var(--heading-text-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 4px;
  margin: 5% 0 0 0;
  padding: 13px 30px 13px;
}

.button1:hover {
  opacity: 0.8;
  transition: 0.2s ease-out;
  text-decoration: none;
  color: var(--primary-text-color);
}

.button2 {
  color: var(--primary-text-color);
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 4px;
  margin-left: 30px;
  margin-top: 30px;
  padding: 13px 30px 13px;
  border: 2px solid white;
}

.button2:hover {
  color: var(--secondry-text-color);
  background-color: var(--primary-text-color);
  transform: 0.2s ease-out;
  text-decoration: none;
}

/* carousel */

/* .carousel-inner .tea{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 5rem;
    } */

/* .carousel-caption{ */
/* position: absolute;
    bottom: 5px;
    text-align: center;
} */


.text1 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 2em;
  padding-left: 0;

}

.text1 h2 {
  color: var(--heading-text-color);
}

.text1 h1 {
  color: var(--primary-text-color);
}

.text1 p {
  color: var(--primary-text-color);
  font-size: 16px;
  margin-top: 30px;
}

.banner-image img {
  width: 260px;
  padding-top: 5px;

}

.btn {
  margin-top: 20px;
  margin-bottom: 40px;
}

.text1 span {
  margin: auto;
}
.discreption {
  margin: auto;
  padding-top: 10px;
  gap: 100px;
  padding-bottom: 15px;
  display: flex;
}

.title {
  max-width: 100%;
}

.title h3 {
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 5px;
  color: var(--heading-text-color);
}

.title h2 {
  text-transform: uppercase;
  font-size: 46px;
  padding-top: 3px;
}

.title p {
  text-transform: capitalize;
  font-size: 24px;
  padding-top: 10px;
  color: #b3b3b3;

}

.dis {
  text-align: justify;
}

.dis p {
  /* margin-top: 30px; */
  line-height: 1.6;
  font-size: 16px;
}